<!DOCTYPE html>
<html>
<body>

<head>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
   <!-- <link href="style.css" rel="stylesheet">  -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style2.css') }}">
 </head>
 
 <h1>Humanoid Broadcaster</h1>
 <p style="font-family: Style-7, Neon Pixel-7;">Get Summarize news in Short Time!</p>
 <div class="frame">

   <!-- # {'SPORTS': 0,

    #  'BUSINESS': 1,
    
    #  'TRAVEL': 2,
    
    #  'TECHNOLOGY': 3,
    
    #  'STYLE & BEAUTY': 4,
    
    #  'FOOD & DRINK': 5,
    
    #  'POLITICS': 6,
    
    #  'ENTERTAINMENT': 7,
    
    #  'PARENTING': 8,
    
    #  'WELLNESS': 9}  -->



   <button id="SPORTS" class="custom-btn btn-1", onclick="myFunction(),parent.location='index2.html'"> SPORTS </button>

  <!--  <input type=button class="custom-btn btn-1" onClick="parent.location='index2.html'"
 value='click This '>  -->

   <!--<button onclick="myFunction()">Click me</button>  -->

   <button class="custom-btn btn-2">BUSINESS</button>
   <button class="custom-btn btn-3"><span>TRAVEL</span></button>
   <button class="custom-btn btn-4"><span>TECHNOLOGY</span></button>
   <button class="custom-btn btn-5"><span>STYLE & BEAUTY</span></button>
   <button class="custom-btn btn-6"><span>FOOD & DRINK</span></button>
   <button class="custom-btn btn-7"><span>POLITICS</span></button>
   <button class="custom-btn btn-8"><span>ENTERTAINMENT</span></button>
   <button class="custom-btn btn-9">PARENTING</button>
   <button class="custom-btn btn-10">WELLNESS</button>
   <!--<button class="custom-btn btn-11">Read More<div class="dot"></div></button>
   <button class="custom-btn btn-12"><span>Click!</span><span>Read More</span></button>
   <button class="custom-btn btn-13">Read More</button>
   <button class="custom-btn btn-14">Read More</button>
   <button class="custom-btn btn-15">Read More</button>
   <button class="custom-btn btn-16">Read More</button>  -->





   <p style="font-family: Andale Mono, monospace;"> </p>


   <p>The onclick event triggers a function when an element is clicked on.</p>
   <p>Click to trigger a function that will output "Hello World":</p>
   
 <!--  <button onclick="myFunction()">Click me</button>   -->
   
   <p id="demo"></p>


 </div>


 <script src="style.js"></script>

</body>

</html>
 